/*------------------------------------------------- = Table of Content 1.General 2.Header 3.Home1 section 4.Home-Blog section 5.Home-Portfolio section 6.Home-Full Page Portfolio section 7.Home-Boxed section 8.Home-Dark section 9.Blog section 10.Portfolio section 11.About section 12.Services section 13.Shop section 14.Contact section -------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}
body {
	line-height:1;
}
ol,ul {
	list-style:none;
}
blockquote,q {
	quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing: 0;
}
/*-------------------------------------------------*/
/* = General/*-------------------------------------------------*/
.clearfix {
	*zoom:1;
}
.clearfix:before,.clearfix:after {
	display:table;
	line-height:0;
	content:"";
}
.clearfix:after {
	clear:both;
}
.clear {
	clear:both;
}
.oh {
	overflow:hidden;
}
.mb10 {
	margin-bottom:10px !important;
}
.mb15 {
	margin-bottom:15px !important;
}
.mb20 {
	margin-bottom:20px !important;
}
.mb30 {
	margin-bottom:30px !important;
}
.ml0 {
	margin-left:0 !important;
}
a {
	text-decoration:none;
	transition:all 0.1s ease-in-out;
	-moz-transition:all 0.1s ease-in-out;
	-webkit-transition:all 0.1s ease-in-out;
	-o-transition:all 0.1s ease-in-out;
	outline: none;
}
/*******************end-reset*******************/
/*-------------------------------------------------------*/
/* Isotope filtering/*-------------------------------------------------------*/
.isotope-item {
	z-index:2;
}
.isotope-hidden.isotope-item {
	pointer-events:none;
	z-index: 1;
}
.isotope,.isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration:0.3s;
	-moz-transition-duration:0.3s;
	transition-duration:0.3s;
}
.isotope {
	-webkit-transition-property:height,width;
	-moz-transition-property:height,width;
	transition-property:height,width;
}
.isotope .isotope-item {
	-webkit-transition-property:-webkit-transform,opacity;
	-moz-transition-property:-moz-transform,opacity;
	transition-property:transform,opacity;
}
body img {
	border:0;
}
body {
	font-family:'Roboto';
	margin:0;
	padding:0;
	background:#fff;
	height:100%;
	opacity:0;
}
body.active {
	opacity:1;
}
#container {
	height:100%;
	opacity:0;
	transition:all 0.17s ease-in-out;
	-moz-transition:all 0.17s ease-in-out;
	-webkit-transition:all 0.17s ease-in-out;
	-o-transition:all 0.17s ease-in-out;
}
#container.active {
	opacity: 1;
}
/*-------------------------------------------------*/
/* = Home 1 /*-------------------------------------------------*/
header {
	width:100%;
	border-bottom:1px solid #e7e7e7;
}
.sub-header {
	border-bottom:1px solid #eeeeee;
	padding:5px 0;
}
.sub-header ul {
	float:left;
	padding-top:5px;
}
.sub-header li {
	display:inline-block;
	margin-right:10px;
}
.sub-header li a {
	color:#8c8c8c;
	font-weight:400;
	font-size:13px;
}
.sub-header li a:hover {
	color:#000;
}
.sub-header li i {
	color:#4eccb9;
	padding-right:10px;
	font-size:14px;
}
.sub-header li:before {
	content:"|";
	padding-right:5px;
	color:#ececec;
	font-weight:300;
}
.socials {
	float:right;
}
.socials i {
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#000;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	border:1px solid #e7e7e7;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}
.socials i:hover {
	background:#000;
	color:#fff;
	border:1px solid #000;
}
.upper-header {
	padding:25px 0;
}
.logo {
	float:left;
	padding-top: 10px;
}
/*-------------------------------------------------*/
/* = Navigation/*-------------------------------------------------*/
/* Navigation */
.nav-wrap {
	float:right;
}
#nav {
	position:relative;
	/*width:680px;*/
        width:800px;
	float:right;
	margin-top:0px;
}
#nav>select {
	display:none;
}
ul#navlist {
	list-style:none;
	margin:0;
	padding:0;
}
ul#navlist li {
	float:left;
	position:relative;
}
ul#navlist li a {
	display:block;
	font-size:18px;
	font-weight:100;
	line-height:normal;
	color:#000;
	padding:0px 20px;
	font-family:'Roboto',sans-serif;
	text-transform:uppercase;
}
ul#navlist li>a:hover,ul#navlist li>a.selected {
	color:#4eccb9;
}
ul#navlist li:hover .span {
	color:#4eccb9;
}
.nav-border {
	border-top:1px solid #4eccb9;
	width:20px;
	margin:13px 0;
}
.span {
	font-size:13px !important;
	color:#757575;
	text-transform:lowercase;
}
ul#navlist li a:hover .main-a {
	-webkit-animation:moveFromTop 300ms ease;
	-moz-animation:moveFromTop 300ms ease;
	-ms-animation:moveFromTop 300ms ease;
}
ul#navlist li a:hover .nav-border {
	-webkit-animation:moveFromBottom 500ms ease;
	-moz-animation:moveFromBottom 500ms ease;
	-ms-animation:moveFromBottom 500ms ease;
}
ul#navlist li a:hover .span {
	-webkit-animation:moveFromBottom 300ms ease;
	-moz-animation:moveFromBottom 300ms ease;
	-ms-animation:moveFromBottom 300ms ease;
}
@-webkit-keyframes moveFromTop {
	from {
		-webkit-transform:translateY(300%);
	}
	to {
		-webkit-transform:translateY(0%);
	}
}
@-moz-keyframes moveFromTop {
	from {
		-moz-transform:translateY(300%);
	}
	to {
		-moz-transform:translateY(0%);
	}
}
@-ms-keyframes moveFromTop {
	from {
		-ms-transform:translateY(300%);
	}
	to {
		-ms-transform:translateY(0%);
	}
}
@-webkit-keyframes moveFromBottom {
	from {
		-webkit-transform:translateY(700%);
	}
	to {
		-webkit-transform:translateY(0%);
	}
}
@-moz-keyframes moveFromBottom {
	from {
		-moz-transform:translateY(700%);
	}
	to {
		-moz-transform:translateY(0%);
	}
}
@-webkit-keyframes moveFromTop {
	from {
		-webkit-transform:translateY(-300%);
	}
	to {
		-webkit-transform:translateY(0%);
	}
}
@-moz-keyframes moveFromTop {
	from {
		-moz-transform:translateY(-300%);
	}
	to {
		-moz-transform:translateY(0%);
	}
}
@-ms-keyframes moveFromTop {
	from {
		-ms-transform:translateY(-300%);
	}
	to {
		-ms-transform:translateY(0%);
	}
}
@-webkit-keyframes moveFromBottom {
	from {
		-webkit-transform:translateY(700%);
	}
	to {
		-webkit-transform:translateY(0%);
	}
}
@-moz-keyframes moveFromBottom {
	from {
		-moz-transform:translateY(700%);
	}
	to {
		-moz-transform:translateY(0%);
	}
}
@-ms-keyframes moveFromBottom {
	from {
		-ms-transform:translateY(700%);
	}
	to {
		-ms-transform:translateY(0%);
	}
}
ul#navlist li a span {
	display: none;
}
/* DropDown Menu = Superfish */
.sf-menu {
	line-height:1.0;
	overflow: visible !important;
}
.sf-menu .sub-menu {
	position:absolute;
	top:-999em;
	width:183px;
	/* left offset of submenus need to match (see below) */
	margin:0 !important;
	padding-left:0;
	padding-top:26px;
}
.sf-menu ul li {
	width:100%;
}
.sf-menu li:hover {
	visibility:inherit;
	/* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:left;
	position:relative;
}
.sf-menu a {
	display:block;
	position: relative;
}
.sf-menu li:hover ul,.sf-menu li.sfHover ul {
	left:0;
	top:auto;
	/* match top ul list item height */
	z-index:99;
}
.sf-menu li:hover li ul,.sf-menu li.sfHover li ul {
	top: -999em;
}
.sf-menu li li:hover ul,.sf-menu li li.sfHover ul {
	left:100%;
	/* match ul width */
	top:0;
}
.sf-menu li li:hover li ul,.sf-menu li li.sfHover li ul {
	top: -999em;
}
.sf-menu li li li:hover ul,.sf-menu li li li.sfHover ul {
	left:100%;
	/* match ul width */
	top:0;
}
.sf-menu .sub-menu {
	overflow:visible !important;
}
.sf-menu .sub-menu li {
	background:#4eccb9;
	padding-right:0;
	list-style:none;
	padding:0px 0px !important;
	border-bottom:1px solid #63AA9F;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
}
.sub-menu li:hover {
	background:#4eccb9;
}
.sf-menu .sub-menu a {
	font-size:1em !important;
	font-weight:normal;
	color:#fff !important;
	padding:10px 15px !important;
	line-height:normal;
	text-transform:none !important;
	border-right:none !important;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}
.sf-menu .sub-menu a:hover {
	padding:10px 20px !important;
}
.sub-menu a:hover {
}
.sub-menu span {
	display:none;
}
.features {
	padding-top:60px;
}
.feat-text {
	background:#4eccb9;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:35px;
	width:70%;
	transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	border:1px solid #4eccb9;
}
.feat-text h4 {
	font-size:20px;
	color:#fff;
	margin:0;
	margin-bottom:17px;
}
.feat-text p {
	font-size:13px;
	color:#fff;
	margin-bottom:0;
	font-weight:300;
	line-height:19px;
}
.feature-box {
	position:relative;
	transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	margin-bottom:20px;
}
.feature-box i {
	font-size:35px;
	color:#4eccb9;
	border:1px solid #4eccb9;
	background:#fff;
	width:85px;
	height:85px;
	line-height:85px;
	text-align:center;
	display:block;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	position:absolute;
	z-index:10;
	right:0px;
	top:50%;
	margin-top:-45px;
	transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
}
.feature-box:hover .feat-text h4 {
	color:#4eccb9;
}
.feature-box:hover .feat-text p {
	color:#afafaf;
}
.feature-box:hover .feat-text {
	background:#fff;
	border:1px solid #ebebeb;
}
.feature-box:hover i {
	border:1px solid #ebebeb;
	background:#4eccb9;
	color:#fff;
}
.main-title {
	font-size:30px;
	font-family:'Roboto';
	color:#000;
	text-align:center;
	margin:10px 0;
	text-transform:uppercase;
}
.main-subtitle {
	color:#787878;
	font-size:15px;
	display:block;
	text-align:center;
	text-transform:lowercase;
	margin-bottom: 35px;
}
/*Fred Carousel*/
.list_carousel img {
	width:100%;
}
.list_carousel ul {
	margin:0;
	padding:0;
	list-style:none;
	display:block;
}
.list_carousel li {
	text-align:center;
	padding:0;
	display:block;
	float:left;
}
.list_carousel.responsive {
	width:auto;
	margin-left:0;
	position:relative;
}
.prev {
	background:url(images/control-left.png) no-repeat;
	width:50px;
	height:89px;
	text-indent:-9999px;
	position:absolute;
	left:0;
	top:50%;
	margin-top:-85px;
}
.next {
	background:url(images/control-right.png) no-repeat;
	width:50px;
	height:89px;
	text-indent:-9999px;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-85px;
}
.timer {
	background-color:#999;
	height:6px;
	width:0px;
}
.view {
	overflow:hidden;
	position:relative;
	text-align:center;
}
.view .mask {
	width:100%;
	height:99%;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
}
.recent-work .view a {
	background:#4eccb9;
	display:inline-block;
	color:#fff;
	font-size:24px;
	width:55px;
	height:55px;
	line-height:55px;
	text-align:center;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	margin-top: 33%;
}
.recent-work .view i:hover {
	transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	/* IE 9 */
	-moz-transform:rotate(360deg);
	/* Firefox */
	-webkit-transform:rotate(360deg);
	/* Safari and Chrome */
	-o-transform:rotate(360deg);
	/* Opera */
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
}
.view-sixth img {
	-webkit-transition:all 0.4s ease-in-out 0.5s;
	-moz-transition:all 0.4s ease-in-out 0.5s;
	-o-transition:all 0.4s ease-in-out 0.5s;
	-ms-transition:all 0.4s ease-in-out 0.5s;
	transition:all 0.4s ease-in-out 0.5s;
}
.view-sixth .mask {
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.5);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	opacity:0;
	-webkit-transition:all 0.3s ease-in 0.4s;
	-moz-transition:all 0.3s ease-in 0.4s;
	-o-transition:all 0.3s ease-in 0.4s;
	-ms-transition:all 0.3s ease-in 0.4s;
	transition:all 0.3s ease-in 0.4s;
}
.view-sixth a {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	opacity:0;
	-webkit-transform:translateY(100px);
	-moz-transform:translateY(100px);
	-o-transform:translateY(100px);
	-ms-transform:translateY(100px);
	transform:translateY(100px);
	-webkit-transition:all 0.3s ease-in-out 0.1s;
	-moz-transition:all 0.3s ease-in-out 0.1s;
	-o-transition:all 0.3s ease-in-out 0.1s;
	-ms-transition:all 0.3s ease-in-out 0.1s;
	transition:all 0.3s ease-in-out 0.1s;
}
.view-sixth:hover .mask {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	opacity:1;
	-webkit-transition-delay:0s;
	-moz-transition-delay:0s;
	-o-transition-delay:0s;
	-ms-transition-delay:0s;
	transition-delay:0s;
}
.view-sixth:hover img {
	-webkit-transition-delay:0s;
	-moz-transition-delay:0s;
	-o-transition-delay:0s;
	-ms-transition-delay:0s;
	transition-delay:0s;
}
.view-sixth:hover a {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	opacity:1;
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-o-transform:translateY(0px);
	-ms-transform:translateY(0px);
	transform:translateY(0px);
	-webkit-transition-delay:0.3s;
	-moz-transition-delay:0.3s;
	-o-transition-delay:0.3s;
	-ms-transition-delay:0.3s;
	transition-delay:0.3s;
}
.recent-work .desc {
	background:#4eccb9;
	padding:20px;
	margin-top:-2px;
	text-align:left;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	-webkit-transition:all 0.3s ease-in 0.4s;
	-moz-transition:all 0.3s ease-in 0.4s;
	-o-transition:all 0.3s ease-in 0.4s;
	-ms-transition:all 0.3s ease-in 0.4s;
	transition:all 0.3s ease-in 0.4s;
}
.recent-work li:hover .desc {
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
}
.desc h4 {
	color:#fff;
	margin:0;
	font-size:18px;
	font-weight:300;
	font-family:'Roboto';
}
.desc span {
	color:#fff;
	margin:0;
	font-size:13px;
	font-family:'Roboto';
	font-style:italic;
}
.main-subtitle span {
	font-weight:bold;
	text-transform:capitalize;
}
.w-icons {
	border:1px solid #e2e2e2;
	background:#fff;
	padding:13px;
	float:left;
	position:relative;
}
.w-icons:after {
	content:"";
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-left:5px solid #4eccb9;
	position:absolute;
	right:-6px;
	top:50%;
	margin-top:-12px;
}
.w-icons i {
	display:block;
	width:52px;
	height:52px;
	line-height:52px;
	text-align:center;
	margin-right:15px;
	float:left;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	background:#d0d0d0;
	color:#fff;
	font-size:22px;
}
.w-icons p {
	font-size:20px;
	font-weight:300;
	color:#000;
	float:left;
	padding-top:12px;
}
.w-descr {
	float:left;
	background:#f0f0f0;
	border:1px solid #e2e2e2;
	border-left:0;
	padding:13px;
}
.w-descr p {
	color:#787878;
	font-size:15px;
	margin:18px 0 19px;
}
.whychose-box {
	margin-bottom:20px;
}
.whychoose img {
	width: 100%;
}
.whychose-box:hover .w-icons i {
	background:#4eccb9;
	transform:rotateY(360deg);
	-ms-transform:rotateY(360deg);
	/* IE 9 */
	-moz-transform:rotateY(360deg);
	/* Firefox */
	-webkit-transform:rotateY(360deg);
	/* Safari and Chrome */
	-o-transform:rotateY(360deg);
	/* Opera */
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
}
.whychose-box:hover .w-icons:after {
	content:"";
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-left:5px solid #ffffff;
	position:absolute;
	right:-6px;
	top:50%;
	margin-top:-12px;
}
.whychose-box:hover .w-descr {
	background:#4eccb9;
}
.whychose-box:hover .w-descr p {
	color:#fff;
}
.whychoose {
	border-bottom:1px solid #e5e5e5;
	padding-bottom:20px;
	margin-bottom:20px;
}
.testimonials img {
	width:160px !important;
	margin:auto;
	border:1px solid #717171;
	border-radius:50%;
	padding:10px;
}
.testimonials .bx-controls-direction {
	display:none;
}
.testimonials .bx-pager {
	display:block !important;
}
.testimonials .bx-wrapper {
}
.testimonials ul {
	margin:0;
	padding:0;
}
.testimonials .bx-wrapper {
	position:relative;
	margin:0 auto 20px;
	padding:0;
	background:#fff;
	text-align:center;
}
.testimonials p {
	font-size:18px;
	border:0px;
	line-height:24px;
	color:#919191;
	font-weight:100;
	margin:0;
}
.testimonials span {
	color:#000;
	display:block;
	padding-bottom:20px;
	font-weight:300;
}
.testimonials span strong {
	font-weight:700;
}
.test-border {
	width:110px;
	margin:20px auto;
	border-top:1px solid #000;
}
.our-team {
	background-image:url(../images/team-bg.jpg);
	background-size:100% auto;
	padding:35px 0 40px;
}
.our-team .main-title {
	font-weight:bold;
}
.our-team .main-subtitle {
	color:#000000;
}
.team-mates .team-mask {
	position:absolute;
	top:0;
	width:100%;
	height:66%;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}
.team-mates:hover .team-mask {
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	top:0;
}
.team-descr {
	background:rgb(131,131,131);
	background:rgba(131,131,131,.5);
	padding:15px;
}
.team-descr h3 {
	font-size:18px;
	font-weight:300;
	color:#fff;
}
.team-descr h5 {
	font-size:14px;
	font-weight:300;
	color:#fff;
	font-style:italic;
}
.additionalicons {
	padding:15px;
	background:#4eccb9;
}
.additionalicons i {
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	border:1px solid #fff;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	font-size:15px;
	margin-right:10px;
	display:inline-block;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
.additionalicons i:hover {
	background:#000;
	border:1px solid #000;
	transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	/* IE 9 */
	-moz-transform:rotate(360deg);
	/* Firefox */
	-webkit-transform:rotate(360deg);
	/* Safari and Chrome */
	-o-transform:rotate(360deg);
}
.view-first i {
	width:80px;
	height:80px;
	line-height:80px;
	text-align:center;
	color:#fff;
	background:#4eccb9;
	display:block;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-45px;
	margin-left:-45px;
	font-size:36px;
}
.view-first img {
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	-ms-transition:all 0.2s linear;
	transition:all 0.2s linear;
}
.view-first .mask {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	opacity:0;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.7);
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-ms-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}
.view-first a.re-details {
	-webkit-transform:translateY(100px);
	-moz-transform:translateY(100px);
	-o-transform:translateY(100px);
	-ms-transform:translateY(100px);
	transform:translateY(100px);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	opacity:0;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	-ms-transition:all 0.2s linear;
	transition:all 0.2s linear;
}
.view-first:hover img {
	-webkit-transform:scale(1.1,1.1);
	-moz-transform:scale(1.1,1.1);
	-o-transform:scale(1.1,1.1);
	-ms-transform:scale(1.1,1.1);
	transform:scale(1.1,1.1);
}
.view-first:hover .mask {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	opacity:1;
}
.view-first:hover a.re-details {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	opacity:1;
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-o-transform:translateY(0px);
	-ms-transform:translateY(0px);
	transform:translateY(0px);
}
.view-first:hover a.re-details {
	-webkit-transition-delay:0.1s;
	-moz-transition-delay:0.1s;
	-o-transition-delay:0.1s;
	-ms-transition-delay:0.1s;
	transition-delay:0.1s;
}
.recent-posts {
	padding:45px 0 20px;
}
.recent-posts .bx-viewport {
	height:420px !important;
}
.repost-text {
	border:1px solid #eeeeee;
	padding:20px;
}
.repost-text h4 {
	font-weight:300;
	font-size:18px;
	font-family:'Roboto';
	color:#000;
	margin-bottom:10px;
}
.repost-text p {
	font-weight:300;
	font-size:13px;
	font-family:'Roboto';
	color:#9c9c9c;
	line-height:22px;
}
.post-tags {
	border:1px solid #eeeeee;
	padding:20px;
	clear:both;
	border-top:0;
}
.post-tags li {
	float:left;
	margin-right:15px;
}
.post-tags li:last-child {
	margin-right:0px;
}
.post-tags li a {
	color:#9a9a9a;
	font-family:'Roboto';
	font-size:13px;
}
.post-tags li a:hover {
	color:#000;
}
.post-tags li i {
	margin-right: 10px;
}
/*Home Blog*/
.home-blog img {
	width:100%;
	margin-bottom:-2px;
}
aside .search {
	position:relative;
}
aside .search input[type="text"] {
	padding:10px 0px 10px 10px;
	width:95%;
	font-size:16px;
	font-weight:300;
	font-style:italic;
	border:1px solid #e9e8e6;
	color:#b3b3b3;
}
aside .search input[type="submit"] {
	background:url(../images/search.png) no-repeat center;
	position:absolute;
	right:13px;
	top:13px;
	width:20px;
	height:22px;
	border:0;
	cursor: pointer;
}
/*Accordion*/
.accordion h3 {
	font-weight:normal;
	font-family:'Roboto';
	margin:20px 0;
}
#accordion-container {
	font-size:13px;
	color:#868686;
}
.accordion-header {
	font-size:14px;
	margin:0;
	padding:13px 20px 5px;
	padding-bottom:15px;
	cursor:pointer;
	color:#000;
	font-weight:300;
	font-family:'Roboto';
	border:1px solid #eeeeee;
}
.active-header {
	background:url(../images/active-header.png) 93% center #fff;
	background-repeat:no-repeat;
	color:#4eccb9;
}
.inactive-header {
	background:url(../images/inactive-header.png) 93% center #fff;
	background-repeat:no-repeat;
}
.accordion-content {
	display:none;
	background:#ffffff;
	font-size:13px;
	padding:20px;
	color:#919191;
	font-weight:300;
	border:1px solid #eeeeee;
	border-top:0;
	line-height: 19px;
}
/*-------------------------------------------------*/
/* = Tabs Widget/*-------------------------------------------------*/
.tabs ul {
	padding:0;
}
.tabs-widget {
	padding:0px !important;
	margin-bottom:20px;
}
.tabs-widget .tab-links {
	margin:0;
	border:1px solid #eeeeee;
	border-bottom:0;
}
.tabs-widget .tab-links li {
	float:left;
	background:#ffffff;
	color:#808080;
	margin-left:0px;
	width:33%;
	height:46px;
	border-right:1px solid #eeeeee;
}
.tabs-widget .tab-links li.active {
	background:#4eccb9;
}
.tabs-widget .tab-links li.active a {
	color:#fff;
}
.tabs-widget .tab-links li:first-child {
	margin-left:0px;
}
.tabs-widget .tab-links li:last-child {
	border-right:0;
}
.tabs-widget .tab-links li a {
	font-family:'Roboto';
	color:#000;
	font-weight:300;
	font-size:13px;
	border-bottom:none;
	padding:15px;
	text-align:center;
	display:block;
	transition:none;
	-moz-transition:none;
	-webkit-transition:none;
	-o-transition:none;
}
.tabs-widget>div {
	clear:both;
	display:none;
}
.tabs-widget>div>ul {
	margin:0;
	border:1px solid #eeeeee;
}
.tabs-widget #popular-tab {
	display:block;
}
.tabs-widget .author-comment {
	color:#7f7f7f;
	font-size:11px;
	line-height:14px;
	max-height:42px;
	overflow:hidden;
	display:block;
}
.tabs-widget>div li {
	overflow:hidden;
	border-top:none;
	background:#fff;
	padding-bottom:0;
	padding:20px 20px 10px;
}
.tabs-widget>div li>a {
	display:block;
}
.tabs-widget img {
	float:left;
	width:44px;
	height:44px;
	margin-right:14px;
}
.tabs-widget>div h3 {
	font-family:'Open Sans';
	margin:0 0 3px 0px;
	line-height:19px;
	max-height:34px;
	overflow:hidden;
}
.tabs-widget>div h3 a {
	color:#506779;
	display:block;
	font-size:13px;
}
.tabs-widget>div h3 a:hover {
	opacity:0.8;
	text-decoration:none;
}
.tabs-widget>div#comments-tab h3 {
	max-height:15px;
}
.tabs-widget>div p {
	font-size:13px;
	color:#808080;
	line-height:20px;
	margin:0;
	margin-bottom:0px;
	font-family:'Roboto';
	font-weight:300;
}
.tabs-widget ul {
	list-style:none;
}
.tags h3 {
	font-weight:normal;
	font-family:'Roboto';
	margin:20px 0;
}
.widget-tags a {
	background:#fff !important;
	border:1px solid #eeeeee !important;
	color:#919191 !important;
}
.widget-tags a:hover {
	color:#4eccb9 !important;
	border:1px solid #4eccb9 !important;
}
.text-widget {
}
.text-widget h3 {
	font-weight:normal;
	font-family:'Roboto';
	margin:20px 0;
}
.text-widget p {
	font-weight:300;
	font-family:'Roboto';
	color:#919191;
	line-height:19px;
	font-size:14px;
	padding:20px;
	border:1px solid #eeeeee;
}
.widget-tags {
	border: 0 !important;
}
/*Home Portfolio*/
.filter {
	list-style:none;
	padding:0;
	margin-bottom:50px;
}
.filter li {
	float:left;
	border:1px solid #eeeeee;
	border-left:0;
}
.filter li:first-child {
	border-left:1px solid #eeeeee;
}
.filter a {
	font-size:15px;
	color:#7e7e7e;
	padding:20px;
	background:#fff;
	display:table;
	text-transform:uppercase;
	-webkit-transition:all 0.4s ease-in-out 0.2s;
	-moz-transition:all 0.4s ease-in-out 0.2s;
	-o-transition:all 0.4s ease-in-out 0.2s;
	-ms-transition:all 0.4s ease-in-out 0.2s;
	transition:all 0.4s ease-in-out 0.2s;
}
.filter li:first-child a {
	background:url(../images/showall.png) 20px center #3b3b3b no-repeat;
	color:#fff;
	padding-left:50px;
}
.filter a:hover,.filter a.active {
	background:#3b3b3b;
	color:#fff;
}
.port4 {
	background:#fff;
}
.port4 .filter-container {
	margin-left:-30px;
}
.port4 .filter-container li {
	width:270px;
	margin-bottom:30px;
	float:left;
	margin-left:30px;
}
.filter-container .view a {
	background:#4eccb9;
	display:inline-block;
	color:#fff;
	font-size:24px;
	width:55px;
	height:55px;
	line-height:55px;
	text-align:center;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	margin-top: 23%;
}
.filter-container .view i:hover {
	transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	/* IE 9 */
	-moz-transform:rotate(360deg);
	/* Firefox */
	-webkit-transform:rotate(360deg);
	/* Safari and Chrome */
	-o-transform:rotate(360deg);
	/* Opera */
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
}
.filter-container .desc {
	background:#4eccb9;
	padding:20px;
	margin-top:-2px;
	text-align:left;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	-webkit-transition:all 0.3s ease-in 0.4s;
	-moz-transition:all 0.3s ease-in 0.4s;
	-o-transition:all 0.3s ease-in 0.4s;
	-ms-transition:all 0.3s ease-in 0.4s;
	transition:all 0.3s ease-in 0.4s;
}
.filter-container li:hover .desc {
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
}
.desc h4 {
	color:#fff;
	margin:0;
	font-size:18px;
	font-weight:300;
	font-family:'Roboto';
}
.desc span {
	color:#fff;
	margin:0;
	font-size:13px;
	font-family:'Roboto';
	font-style:italic;
	display: block;
}
/*-------------------------------------------------*/
/* = Home Boxed/*-------------------------------------------------*/
.boxed {

	background: url(../images/boxed-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.boxed .wrapper {
	background:rgb(255,255,255);
	background:rgba(255,255,255,.9);
	padding:0 20px
}
.boxed .inner-footer {
	padding: 20px !important;
}
/*-------------------------------------------------*/
/* = Home Dark Version/*-------------------------------------------------*/
.dark-version {
	background:#131313;
}
.dark-version .sub-header {
	background:#4eccb9;
	border-bottom:0;
}
.dark-version header {
	border-bottom:0;
}
.dark-version .sub-header li a {
	color:#fff;
}
.dark-version .sub-header li i {
	color:#fff;
}
.dark-version .socials i {
	color:#fff;
	border:1px solid #c35a20;
}
.dark-version ul#navlist li a {
	display:block;
	font-size:18px;
	font-weight:100;
	line-height:normal;
	color:#fff;
	padding:0px 20px;
	font-family:'Roboto',sans-serif;
	text-transform:uppercase;
}
.dark-version .feat-text {
	background:#3b3b3b;
	border:0px solid #4eccb9;
}
.dark-version .feature-box:hover .feat-text {
	background:#3b3b3b;
	border:0;
}
.dark-version .main-title {
	color:#fff;
}
.dark-version .main-subtitle {
	color:#787878;
}
.dark-version .w-icons {
	border:0px solid #e2e2e2;
	background:#1d1d1d;
	padding:13px;
	float:left;
	position:relative;
}
.dark-version .w-icons:after {
	content:"";
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-left:5px solid #1d1d1d;
	position:absolute;
	right:-6px;
	top:50%;
	margin-top:-12px;
}
.dark-version .w-icons p {
	font-size:20px;
	font-weight:300;
	color:#fff;
	float:left;
	padding-top:12px;
}
.dark-version .w-icons i {
	display:block;
	width:52px;
	height:52px;
	line-height:52px;
	text-align:center;
	margin-right:15px;
	float:left;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	background:#000000;
	color:#fff;
	font-size:22px;
}
.dark-version .w-descr {
	float:left;
	background:#303030;
	border:0px solid #e2e2e2;
	border-left:0;
	padding:13px;
}
.dark-version .testimonials .bx-wrapper {
	position:relative;
	margin:0 auto 20px;
	padding:0;
	background:#131313;
	text-align:center;
}
.dark-version .testimonials img {
	width:160px !important;
	margin:auto;
	border:1px solid #4eccb9;
	border-radius:50%;
	padding:10px;
}
.dark-version .testimonials span {
	color:#fff;
	display:block;
	padding-bottom:20px;
	font-weight:300;
}
.dark-version .whychoose {
	border-bottom:1px solid #171717;
	padding-bottom:20px;
	margin-bottom:20px;
}
.dark-version .recent-posts .bx-prev {
	left:0px;
	background:url(images/controls3.png) no-repeat 0 0px;
}
.dark-version .recent-posts .bx-next {
	left:44px;
	background:url(images/controls3.png) no-repeat 1px 0px;
	background-position:-46px 0;
}
.dark-version .repost-text {
	border:0px solid #eeeeee;
	background:#2f2f2f;
	padding:20px;
}
.dark-version .repost-text h4 {
	font-weight:300;
	font-size:18px;
	font-family:'Roboto';
	color:#fff;
	margin-bottom:10px;
}
.dark-version .post-tags {
	border:0;
	border-top:1px solid #131313 !important;
	padding:20px;
	clear:both;
	border-top:0;
	background:#2f2f2f;
}
.dark-version .info-box a.info-toggle {
	background:url(../images/info-bg-black.png) no-repeat;
}
.dark-version footer {
	background:#1c1c1c;
}
.dark-version .f-phone span {
	background:#0d0d0d;
}
.f-phone i {
	background:#313131 !important;
}
.f-mail i {
	background:#313131 !important;
}
.dark-version .f-mail span {
	background:#0d0d0d;
}
.dark-version .tags a {
	background:#0d0d0d;
	border:1px solid #0d0d0d;
}
.dark-version .info-content {
	background: #0d0d0d;
}
/*-------------------------------------------------*/
/* = Home Full Page portfolio/*-------------------------------------------------*/
.port-full .filter-container {
	margin-bottom:
}
.port-full .filter-container li {
	width:19.99%;
	margin-bottom:-2px;
	float:left;
	position:relative;
}
.port-full .filter-container li img {
	width:100%;
}
.port-full .filter-container .view a {
	background:#4eccb9;
	display:inline-block;
	color:#fff;
	font-size:24px;
	width:55px;
	height:55px;
	line-height:55px;
	text-align:center;
	border:4px solid rgba(255,255,255,0.5);
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	margin-top: 15%;
}
.filter-container .view i:hover {
	transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	/* IE 9 */
	-moz-transform:rotate(360deg);
	/* Firefox */
	-webkit-transform:rotate(360deg);
	/* Safari and Chrome */
	-o-transform:rotate(360deg);
	/* Opera */
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
}
.filter-container .desc {
	background:#4eccb9;
	padding:20px 0;
	text-indent:20px;
	margin-top:0px;
	width:100%;
	text-align:left;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	-webkit-transition:all 0.3s ease-in 0.4s;
	-moz-transition:all 0.3s ease-in 0.4s;
	-o-transition:all 0.3s ease-in 0.4s;
	-ms-transition:all 0.3s ease-in 0.4s;
	transition:all 0.3s ease-in 0.4s;
	position:absolute;
	bottom:2px;
}
.filter-container li:hover .desc {
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
/*-------------------------------------------------*/
/* = About/*-------------------------------------------------*/
.head-banner {
	background:url(../images/banner.jpg) repeat-x;
}
.head-banner h4 {
	font-size:18px;
	color:#fff;
	font-weight:300;
	background:#4eccb9;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:10px;
	float:left;
	margin:30px 0;
}
.site_map {
	float:right;
	font-size:13px;
	color:#fff;
	border:1px solid #656565;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:10px;
	margin:30px 0;
	text-transform:lowercase;
}
.site_map a {
	color:#fff;
	background:url(../images/site-arrow.png) right center no-repeat;
	padding:8px 0;
	padding-right:25px;
	margin-right:5px;
}
.site_map a:hover {
	text-decoration:underline;
}
.about-title {
	font-size:30px;
	font-family:'Roboto';
	color:#000;
	margin:20px 0 0;
	text-transform:uppercase;
}
.about-sub {
	color:#787878;
	font-size:15px;
	display:block;
	text-transform:lowercase;
	margin-bottom:35px;
}
.aboutus p {
	color:#8b8b8b;
	font-weight:300;
	font-size:20px;
	margin-bottom:20px;
	line-height:26px;
	font-family:'Roboto';
}
.aboutus p span {
	color:#4eccb9;
}
.aboutus {
	border-bottom:1px solid #dddddd;
}
#my-carousel-3 li {
	background:#4eccb9;
}
.carousel ul {
	position:absolute;
	overflow:hidden;
	margin:0;
	padding:0;
	list-style:none;
}
.no-js .carousel ul {
	position:static;
}
.carousel .mask {
	position:relative;
	overflow:hidden;
}
.carousel ul li {
	float:left;
	width:150px;
	height:60px;
	margin-right:30px;
	font-size:8em;
	text-align:center;
	margin:0;
}
.carousel ul li img {
	width:100%;
}
.carousel .pagination-links {
	list-style:none;
	margin:0;
	padding:0;
}
.carousel .pagination-links li {
	display:inline;
}
.carousel .pagination-links li a {
	padding:2px 6px;
}
.carousel .pagination-links li a:hover {
	text-decoration:none;
}
.carousel .pagination-links li.current a {
	background:#444;
	color:#fff;
}
.carousel .disabled {
	color:gray;
	cursor: default;
}
/** my carousel 3 **/
#my-carousel-3 .mask {
	width:100%;
	position:relative !important;
}
#my-carousel-3 {
	position:relative !important;
}
#my-carousel-3 .prev {
	position:absolute !important;
	right:20px !important;
	top:-30px !important;
	background:url(images/arrow-left.png) no-repeat !important;
	width:20px;
	height:20px;
	margin-top:0;
	left:auto;
}
#my-carousel-3 .next {
	background:url(images/arrow-right.png) no-repeat !important;
	position:absolute !important;
	right:0px !important;
	top:-30px !important;
	width:20px;
	height:20px;
	margin-top:0;
	left:auto;
}
.team-mates img {
	width:100%;
	margin-bottom:-2px;
}
.service-item {
	border:1px solid #ededed;
	text-align:center;
	padding:30px 0px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	margin-bottom:20px;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}
.service-item i {
	font-size:30px;
	color:#4eccb9;
	display:block;
	text-align:center;
}
.service-item h3 {
	color:#000;
	font-size:56px;
	font-family:'Open Sans';
	font-weight:normal;
	!important;
	margin:30px 0;
	display:block;
	text-align:center;
}
.service-item span {
	color:#c7c7c7;
	font-size:18px;
}
.service-item:hover {
	background:#4eccb9;
}
.service-item:hover i {
	color:#fff;
}
.service-item:hover h3 {
	color:#fff;
}
.service-item:hover span {
	color:#fff;
}
.service-tabs .tab-links li {
	float:left;
	background:#ffffff;
	color:#808080;
	margin-left:0px;
	width:24.9%;
	height:46px;
	border-right: 1px solid #eeeeee;
}
/*-------------------------------------------------*/
/* = Services/*-------------------------------------------------*/
.service-welcome {
	padding:20px 0 0;
	border-bottom:1px solid #e5e5e5;
	margin-bottom:20px;
}
.service-welcome .main-title {
	text-align:left;
	margin-bottom:0;
}
.service-welcome .main-subtitle {
	text-align:left;
}
.service-welcome p {
	font-weight:300;
	font-size:20px;
	color:#8b8b8b;
	margin-bottom:25px;
	line-height:24px;
}
.service-welcome p span {
	color:#4eccb9;
}
.services {
	border-bottom:1px solid #e5e5e5;
}
.our-service {
	text-align:center;
	padding-bottom:20px;
}
.our-service i {
	display:inline-block;
	width:60px;
	height:60px;
	line-height:60px;
	text-align:center;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	margin:0 auto;
	background:url(../images/blog-pattern.png);
	font-size:40px;
	color:#fff;
	margin-bottom:30px;
	padding:35px;
	background: #4eccb9;
}
.our-service i:hover {
	transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	/* IE 9 */
	-moz-transform:rotate(360deg);
	/* Firefox */
	-webkit-transform:rotate(360deg);
	/* Safari and Chrome */
	-o-transform:rotate(360deg);
	/* Opera */
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
}
.our-service h3 {
	text-align:center;
	font-size:20px;
	font-style:normal;
	color:#000;
	margin-bottom:10px;
	font-weight:bold;
	font-family:'Roboto';
}
.our-service p {
	text-align:center;
	font-size:18px;
	font-style:normal;
	color:#8b8b8b;
	margin-bottom:20px;
	font-weight:300;
}
.about-services {
	padding:20px 0 0;
	margin-bottom:20px;
}
.service-tabs .tabs-widget .tab-links li a {
	font-size:20px;
	font-family:'Roboto';
	font-weight:300;
	text-transform:uppercase;
	padding:11px;
}
.service-tabs .tabs-widget>div p {
	margin-bottom:20px;
}
.service-tabs .tabs-widget>div p span {
	color: #4eccb9;
}
/*-------------------------------------------------*/
/* = Shop/*-------------------------------------------------*/
.toolbar {
	border:1px solid #E0E0E0;
	display:inline-block;
	margin-bottom:27px;
	width:100%;
}
.selectBox {
	-webkit-appearance:none;
	appearance:none;
	-moz-appearance:none;
	background:url("../images/select.png") no-repeat scroll right center #F7F7F7;
	border:1px solid #DBDBDB;
	color:#595959;
	height:34px;
	padding:6px 27px 6px 8px;
	text-indent:0.01px;
	text-overflow:"";
}
.sort-select {
	float:left;
	margin-left:20px;
	margin-top:8px;
	margin-bottom:8px;
}
.toolbar label {
	color:#000000;
	font-size:14px;
	line-height:23px;
	margin-right:10px;
}
.lg-panel {
	background:none repeat scroll 0 0 #F5F5F5;
	float:right;
	padding:17px;
	text-align:right;
}
.lg-panel a {
	border:medium none;
	color:inherit;
	cursor:pointer;
	display:block;
	float:right;
	font-size:15px;
	margin:0 5px;
	opacity:0.6;
	position:relative;
	z-index:10;
}
.lg-panel a i {
	font-size:15px !important;
}
.lg-panel a.list-btn {
	background-position:-25px 6px;
}
.lg-panel a:hover {
	opacity:0.8 !important;
	text-decoration:none;
}
.lg-panel a.active {
	opacity:1;
}
.view-first img {
	width:100%;
}
.grid-item {
	margin-bottom:20px;
}
.grid-item h4 {
	font-weight:300;
	margin:15px 0;
	color:#000;
}
.end-product {
	margin:30px 0;
}
.price {
	background:#4eccb9;
	color:#fff;
	padding:14px;
	font-size:15px;
	font-weight:300;
	display:inline;
}
.end-product a {
	background:#fff;
	color:#4eccb9;
	padding:14px;
	font-size:15px;
	font-weight:300;
	display:inline;
	border:1px solid #dbdbdb;
	margin-left:-4px;
	border-left:0;
	transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
}
.prod-detail {
	color:#000 !important;
}
.end-product a:hover {
	background:#4eccb9 !important;
	color:#fff !important;
}
.shop-aside h3 {
	background:#4eccb9;
	color:#fff;
	padding:15px;
	margin:0;
}
.accordion-content ul a {
	color:#767676;
	font-size:13px;
	font-weight:300;
}
.accordion-content ul li {
	margin-bottom:5px;
}
.accordion-content ul a:hover {
	text-decoration:underline;
}
.feat-product .feat-boxes2 img {
	float:left;
}
.feat-product .feat-boxes2 {
	padding:10px;
	border:1px solid #e9e8e6;
}
.feat-product .feat-right2 {
	float:left;
	text-align:left;
	margin-left:20px;
}
.feat-right2 a {
	color:#000;
	font-size:13px;
	font-weight:300;
	display:block;
	margin-bottom:6px;
}
.feat-right2 a:hover {
	text-decoration:underline;
}
.feat-right2 span {
	color:#4eccb9;
	font-size:13px;
	font-weight:300;
	display:block;
	margin-bottom:6px;
}
.feat-right2 img {
	width:80px;
	float:right !important;
}
#slider {
	margin-bottom:10px;
}

div.caption.modern_small_text_dark.lfb.tp-caption.start,div.caption.big_white.lfb.stt.tp-caption.start {
	text-align:center;
	color:#fff;
	font-size:14px;
	line-height:20px;
}
.price-inner {
	border:1px solid #dedede;
	padding:20px;
}
.price-inner p {
	color:#000;
	font-size:13px;
	font-weight:300;
}
.low-price {
	float:left;
}
.high-price {
	float: right;
}
/*-------------------------------------------------*/
/* = Shop Grid List/*-------------------------------------------------*/
.left-img {
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}
.grid-item-text {
	float:left;
	width:65%;
}
.grid-item-list h4 {
	font-weight:400;
	margin:15px 0;
	color:#000;
	font-size:17px;
	margin-bottom:20px;
}
.grid-item-list p {
	color:#767676;
	font-size:13px;
	font-weight:300;
	line-height: 24px;
}
/*-------------------------------------------------*/
/* = Contact/*-------------------------------------------------*/
#google_map {
	height:470px;
	width:100%;
	filter:grayscale(100%);
	/* Current draft standard */
	-webkit-filter:grayscale(100%);
	/* New WebKit */
	-moz-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
}
.contact-content .main-title {
	text-align:left;
	margin-bottom:0;
}
.contact-content .main-subtitle {
	text-align:left;
}
.contact-info p {
	color:#8b8b8b;
	font-size:20px;
	font-weight:300;
	line-height:26px;
	margin:0 0 20px;
}
.contact-info p span {
	color:#f95800;
}
.post-meta {
	color:#4b4d4f;
	font-size:14px;
	border-top:1px solid #eaeaea;
	margin-top:20px;
	padding-top:20px;
}
.post-meta i {
	margin-right:5px;
}
.post-home {
	display:inline;
}
.post-phone {
	display:inline;
	margin-left:20px;
}
.post-mail {
	display:inline;
	margin-left:20px;
}
.post-mail a {
	color:#4b4d4f;
}
.contact-box {
	position:relative;
	z-index:3;
	background:#fff;
	overflow:hidden;
}
.contact-box h1 {
	color:#000000;
	font-size:24px;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	line-height:26px;
	margin:0 0 10px;
}
#contact-form h1,.comment-form h1 {
	margin:0 0 20px;
}
#contact-form {
	overflow:hidden;
}
.comment-form {
	overflow:hidden;
}
.float-input {
	position:relative;
	padding-left:58px;
}
.float-input span {
	position:absolute;
	width:58px;
	height:59px;
	border:1px solid #eaeaea;
	top:0px;
	left:0px;
	z-index:2;
	text-align:center;
}
.float-input span i {
	line-height:32px;
	font-size:12px;
	color:#585858;
	display:inline-block;
	width:32px;
	height:32px;
	text-align:center;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	border:1px solid #585858;
	margin-top:13px;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}
#contact-form input[type="text"],#contact-form textarea,.comment-form input[type="text"],.comment-form textarea {
	color:#848484;
	font-size:14px;
	font-family:'Roboto',sans-serif;
	border:1px solid #eaeaea;
	border-left:none;
	font-weight:300;
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	-o-border-radius:0px;
	outline:none;
	width:99%;
	padding:20px 0;
	text-indent:20px;
	display:block;
	margin-bottom:10px;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}
#contact-form input[type="text"]:focus+span i,.comment-form input[type="text"]:focus+span i {
	color:#fff;
	background:#4eccb9;
	border:1px solid #4eccb9;
}
#contact-form textarea,.comment-form textarea {
	height:92px;
	border:1px solid #eaeaea;
}
#contact-form input[type="submit"],.comment-form input[type="submit"] {
	width:100%;
	text-align:center;
	color:#fff;
	font-size:19px;
	font-family:'Open Sans',sans-serif;
	font-weight:500;
	padding:15px;
	background:#4eccb9;
	text-transform:uppercase;
	border:none;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	cursor:pointer;
}
#contact-form input[type="submit"]:hover,.comment-form input[type="submit"]:hover {
	opacity:0.8;
}
#contact-form .message,.comment-form .message {
	height:20px;
	font-size:13px;
	font-family:'Open Sans',sans-serif;
	float:none;
	margin-top:5px;
}
#contact-form .message.error,.comment-form .message.error {
	color:#eb2c06;
}
#contact-form .message.success,.comment-form .message.success {
	color: #1e9397;
}
/*-------------------------------------------------*/
/* = Pagenation/*-------------------------------------------------*/
.pagenation {
	clear:both;
	margin-bottom:20px;
}
.pagenation ul {
	list-style:none;
	padding:0;
	margin:0;
}
.pagenation li {
	float:left;
	margin-left:4px;
	background:#fff;
	border:1px solid #d8d8d8;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}
.pagenation li.active {
	background:#4eccb9;
}
.pagenation li:hover {
	background:#4eccb9;
}
.pagenation li:first-child {
	margin-left:0;
}
.pagenation li a {
	display:block;
	color:#000;
	font-size:16px;
	font-weight:300;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
}
.pagenation li.active a {
	color:#fff;
}
.pagenation li:hover a {
	color:#fff;
}
.pagenation li:not(.active):hover {
	opacity:0.90;
	-moz-opacity:0.90;
	filter: alpha(opacity=90);
}
/*Footer*/
footer {
	background:#4c545a;
}
.inner-footer {
	padding:55px 0 45px;
}
.message-form p {
	font-size:13px;
	font-family:'Roboto';
	font-weight:100;
	color:#fff;
	border-bottom:1px solid #444b51;
	padding-bottom:15px;
	margin-bottom:15px;
	margin-top:15px;
	line-height:22px;
}
footer .float-input {
	position:relative;
	padding-left:0px;
}
footer .send-message {
	position:relative;
}
footer .send-message h4 {
	font-size:19px;
	font-family:'Roboto';
	font-weight:300;
	color:#fff;
	margin-bottom:20px;
}
footer .send-message #name {
	font-size:12px;
	font-family:'Roboto';
	font-weight:300;
	background:#434b51;
	color:#fff;
	border:1px solid #333c44;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	padding:10px 0;
	text-indent:10px;
	float:left;
	width:48.9%;
	margin-bottom:0;
}
footer .send-message #mail {
	font-size:12px;
	font-family:'Roboto';
	font-weight:300;
	background:#434b51;
	color:#fff;
	border:1px solid #333c44;
	border-left:0;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	padding:10px 0;
	text-indent:10px;
	float:left;
	width:48.9%;
	margin-bottom:0;
}
footer .send-message textarea {
	font-size:12px !important;
	font-family:'Roboto' !important;
	font-weight:300 !important;
	background:#434b51 !important;
	color:#fff !important;
	border:1px solid #333c44 !important;
	border-top:0 !important;
	padding:10px 0 !important;
	text-indent:10px !important;
	margin-bottom:0;
	-webkit-border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-right-radius:6px;
	border-bottom-left-radius:6px;
	width:98% !important;
	margin-top:-2px;
	height:110px;
}
footer .send-message input[type="submit"] {
	color:#fff;
	background:url(../images/envelop.png) 10px #343a40 no-repeat !important;
	border:none;
	position:absolute!important;
	bottom:28px!important;
	right:2px!important;
	padding:15px!important;
	padding-left:40px!important;
	cursor:pointer;
	font-family:'Roboto';
	-webkit-border-top-left-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-bottomright:6px;
	border-top-left-radius:6px;
	border-bottom-right-radius:6px;
	font-size:14px !important;
	width:100px !important;
}
footer .submit-area {
	clear:both !important;
}
.contact h4 {
	font-size:19px;
	color:#fff;
	font-weight:300;
	font-family:'Roboto';
	margin-bottom:20px;
}
.contact ul {
	border-bottom:1px solid #444b51;
	padding-bottom:5px;
	margin-bottom:10px;
}
.contact ul li {
	margin-bottom:15px;
}
.contact ul li a {
	font-size:13px;
	font-weight:100;
	font-family:'Roboto';
	color:#fff;
	line-height:18px;
	display:block;
}
.contact ul li a:hover {
	color:#b3b3b3;
}
.contact li i {
	margin-right:10px;
}
.f-phone {
	margin-bottom:10px;
}
.f-phone span {
	-webkit-border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-topright:6px;
	-moz-border-radius-bottomright:6px;
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
	background:#434b51;
	color:#fff;
	font-size:13px;
	padding:9px;
	font-weight:300;
	font-family:'Roboto';
}
.f-phone i {
	-webkit-border-top-left-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-bottomleft:6px;
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
	background:#343a40;
	color:#fff;
	font-size:16px;
	padding:10px;
}
.f-mail span {
	-webkit-border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-topright:6px;
	-moz-border-radius-bottomright:6px;
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
	background:#434b51;
	color:#fff;
	font-size:13px;
	padding:9px;
	font-weight:300;
	font-family:'Roboto';
}
.f-mail i {
	-webkit-border-top-left-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-bottomleft:6px;
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
	background:#343a40;
	color:#fff;
	font-size:16px;
	padding:10px;
}
.third-row h4 {
	font-size:19px;
	color:#fff;
	font-weight:300;
	font-family:'Roboto';
	margin-bottom:20px;
}
.tags {
	border-bottom:1px solid #444b51;
	padding-bottom:10px;
	margin-bottom:10px;
}
.tags a {
	background:#434b51;
	border:1px solid #434b51;
	padding:10px;
	color:#fff;
	font-size:12px;
	font-weight:normal;
	margin:0 9px 10px 0;
	display:table;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	float:left;
}
.tags a:hover {
	border: 1px solid #4eccb9;
}
/*Twitter Style*/
.user,.tweet,.timePosted {
	float:left;
	color:#fff;
	font-size:13px;
	line-height:18px;
	font-family:'Roboto';
}
.tweet {
	width:100%;
	margin-top:3px;
	margin-bottom:10px;
}
.tweet a {
	color:#fff;
	font-size:13px;
	font-family:'Roboto';
}
.tweet a:hover {
	color:#4eccb9;
}
.timePosted {
	width:15%;
}
.user {
	clear:left;
	width:100%;
}
.user a {
	width:100px;
	font-size:13px;
	font-family:'Roboto';
}
.user span span {
	width:100px;
	display:none;
	margin-top:10px;
}
.user img,.user a>span {
	float:left;
}
.user img {
	display:none;
}
.interact {
	float:left;
	width:10%;
	margin-top:-7px;
	display:none;
	font-family:'Roboto';
}
.interact a {
	margin-left:5px;
	float:left;
}
.user a>span {
	color:#fff;
	font-family:'Roboto';
	font-size:13px
}
.user a>span:hover {
	color:#4eccb9;
	font-size:13px
}
#example1 {
	display:none;
}
.tweets ul {
	list-style: none;
}
/*End Twitter Style*/
.flickr h4 {
	font-size:19px;
	color:#fff;
	font-weight:300;
	font-family:'Roboto';
	margin-bottom:20px;
}
.singup p {
	font-size:13px;
	font-family:'Roboto';
	font-weight:100;
	color:#fff;
	margin-bottom:15px;
	line-height:22px;
}
.singup input[type="text"] {
	font-size:12px;
	font-family:'Roboto';
	font-weight:300;
	background:#434b51;
	color:#fff;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	border:1px solid #333c44;
	padding:10px 0;
	text-indent:10px;
	width:70%;
}
.singup input[type="submit"] {
	font-size:13px;
	font-weight:normal;
	color:#fff;
	text-transform:uppercase;
	background:#26282a;
	padding:11px 20px;
	border:0;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	position:absolute;
	right:5px;
	cursor:pointer;
}
#newsletter_subscribe {
	position:relative;
}
.singup {
	border-bottom:1px solid #444b51;
	padding-bottom:20px;
	margin-bottom:10px;
}
.flickr img {
	width:100%;
}
.flickr img:hover {
	opacity:0.8;
}
.flickr li {
	margin-bottom:5px;
}
.last-div {
	background:#4eccb9;
	position:relative;
	padding:30px 0;
}
.copyright {
	float:left;
	color:#fff;
	font-weight:100;
	font-size:15px;
	padding-top:10px;
}
.f-socials {
	float:right;
}
.f-socials i {
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	border:1px solid #e7e7e7;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}
.f-socials i:hover {
	background:#000;
	color:#fff;
	border:1px solid #000;
}
#back-to-top {
	position:absolute;
	right:50%;
	z-index:1;
	bottom:15px;
}
#back-to-top a {
	display:block;
	text-indent:-9999px;
	width:65px;
	height:65px;
	background:url(../images/backtop.png) no-repeat center;
}
.info-box {
	position:relative;
	width:100%;
	height:44px;
	z-index:999;
	transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
}
.info-box.active {
	height:182px;
}
.info-box a.info-toggle {
	position:absolute;
	left:50%;
	margin-left:-38px;
	display:inline-block;
	width:60px;
	height:14px;
	background:url(../images/info-bg.png) no-repeat;
	text-decoration:none;
	padding:15px;
	transition:all 0.17s ease-in-out;
	-moz-transition:all 0.17s ease-in-out;
	-webkit-transition:all 0.17s ease-in-out;
	-o-transition:all 0.17s ease-in-out;
}
.info-box a.info-toggle i {
	width:57px;
	height:61px;
	display:inline-block;
	color:#fff;
	text-align:center;
	line-height:15px;
	font-size:20px;
	transition:all 0.17s ease-in-out;
	-moz-transition:all 0.17s ease-in-out;
	-webkit-transition:all 0.17s ease-in-out;
	-o-transition:all 0.17s ease-in-out;
}
.info-content {
	clear:both;
	background:#383e42;
	padding:20px 18px 4px;
	width:265px;
	position:absolute;
	left:50%;
	margin-left:-141px;
	top:44px;
	display:none;
}
.info-content ul li {
	color:#fff;
	font-size:16px;
	line-height:15px;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	margin-bottom:18px;
}
.info-content ul li i {
	font-size:20px;
	margin-right:12px;
}
.info-content ul li a {
	color:#fff;
}
.dark-version footer input[type="text"] {
	background:#1d1d1d !important;
	border:1px solid #151515 !important;
}
.dark-version footer .send-message input[type="submit"] {
	background:url(../images/envelop.png) 10px #0d0d0d no-repeat !important;
}
.dark-version footer .send-message input[type="submit"] {
	background:10px #0d0d0d no-repeat !important;
}
.dark-version footer textarea {
	background:#1d1d1d !important;
	border:1px solid #151515 !important;
}
.preloader {
	position:fixed;
	top:50%;
	left:50%;
	width:64px;
	height:64px;
	margin-top:-32px;
	margin-left:-32px;
	-webkit-backface-visibility:hidden;
	transition:all 0.17s ease-in-out;
	-moz-transition:all 0.17s ease-in-out;
	-webkit-transition:all 0.17s ease-in-out;
	-o-transition:all 0.17s ease-in-out;
}
.preloader img {
	-webkit-backface-visibility: hidden;
} 


div.caroufredsel_wrapper {
min-height: 363px;
}

table td {
	 padding-left: 10px; font-weight: 300; color: #9c9c9c; line-height: 22px; font-family: 'Roboto'; font-size: 13px;
}